{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet" media="screen">
    <title>Seatme</title>
  </head>

<body>

<form action="/seatme/home/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    <button type="submit" formaction="/seatme/clear/" >Clear</button>
</form>


 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script>
$(document).ready(function(){
  $("[name='friends']").click(function(){
    var index = $(this).parent().parent().index();
    if($(this).is(':checked')){
      $("#id_enemies_" + index).parent().parent().hide();
    }
    else{
      $("#id_enemies_" + index).parent().parent().show();
    }

  });

  $("[name='enemies']").click(function(){
    var index = $(this).parent().parent().index();
    if($(this).is(':checked')){
      $("#id_friends_" + index).parent().parent().hide();
    }
    else{
      $("#id_friends_" + index).parent().parent().show();
    }

  });

});

</script>
</body>